<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <center>
            <h4>
                <%= text %>
            </h4>
        </center>
        <div class="row mt-4">

            <div class="col-4">
                <div class="card" style="width:100%">
                    <img src="<%= im1 %> " alt="" srcset="">
                </div>
                <div class="card-body">

                    <h4>
                        <%= ten1 %>
                    </h4>
                    <h5>
                        <%= tjp1 %>
                    </h5>
                </div>


            </div>
            <!--                     -->
            <div class="col-4">
                <div class="card" style="width:100%">
                    <img src="<%= im2 %> " alt="" srcset="">
                </div>
                <div class="card-body">

                    <h4>
                        <%= ten2 %>
                    </h4>
                    <h5>
                        <%= tjp2 %>
                    </h5>
                </div>


            </div>
            <div class="col-4">
                <div class="card" style="width:100%">
                    <img src="<%= im3 %> " alt="" srcset="">
                </div>
                <div class="card-body">

                    <h4>
                        <%= ten3 %>
                    </h4>
                    <h5>
                        <%= tjp3 %>
                    </h5>
                </div>


            </div>
            <div class="col-4">
                <div class="card" style="width:100%">
                    <img src="<%= im4 %> " alt="" srcset="">
                </div>
                <div class="card-body">

                    <h4>
                        <%= ten4 %>
                    </h4>
                    <h5>
                        <%= tjp4 %>
                    </h5>
                </div>


            </div>
        </div>
    </div>
    <!-- <a href="<%= text %>">asdasd</a> -->

</body>

</html>